body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
.header {
    background-color: #d9eed9;
    padding:20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
.section-title {
    padding-left: 5%;
    font-size: 18px;
    font-weight: bold;
}
.product-card {
    background-color: #fff;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.product-card img {
    width: 100%;
    border-radius: 10px;
}
.product-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}
.product-description {
    font-size: 14px;
    color: #666;
}
.product-price {
    font-size: 16px;
    font-weight: bold;
    color: green;
    margin-top: 10px;
}
.footer-content {
    background-color: #124314;
    color: white;
    padding: 8px;
    text-align: center;
    margin-top: 200px;
}


@media (max-width: 768px) {
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }

    .product-card {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .header {
        font-size: 1.5rem;

    }
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }

    .section-title {
        font-size: 1.2rem;
    }

    .product-description {
        font-size: 0.8rem;
    }

    .product-price {
        font-size: 1rem;
    }
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}
.product-card {
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}
@media (min-width: 1024px) {
    .header {
        font-size: 2rem;
    }
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }

    .section-title {
        font-size: 1.5rem;
    }

    .product-description {
        font-size: 1rem;
    }

    .product-price {
        font-size: 1.2rem;
    }
}